<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container">
<form action="/logout" method="post">
    <input type="submit" value="Sign Out">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>
</div>
<div class="container" style="text-align: center">
        <h1>Управление тренировками</h1>
        <p class="lead">Сервис для управления базой тренировок</p>
</div>
<div class="container">
    <div class="row row-centered" style="padding-top: 5%">
        <div class="col-md-4" style="padding-left: 10%;">
            <form method="post">
                <h3>Форма добавления новой тренировки</h3>
                <p><input name="type" type="radio" value="POWER" placeholder="Силовая тренировка">Силовая тренировка</p>
                <p><input name="type" type="radio" value="CARDIO" placeholder="Кардио-тренировка">Кардио-тренировка</p>
                <p><input name="type" type="radio" value="OTHER" placeholder="Другое" checked="checked">Другое</p>
                <br>
                <input name="link" type="url" placeholder="https://example.com" pattern="https://.*">
                <br>
                <input name="description" type="text" placeholder="Введите описание тренировки здесь">
                <br>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Добавить</button>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Список доступных тренировок</h3>
        {{#activities}}
            <div>
                <p>Id: {{id}}</p>
                <p>{{type}}</p>
                <a href="{{link}}">Ссылка на тренировку</a>
                <p>{{description}}</p>
            </div>
        {{/activities}}
    </div>
        <div class="col-md-4">
            <h3>Отфильтровать по типу</h3>
            <form method="get">
                <p><input type="radio" name="filter" value="POWER"/>Силовая</p>
                <p><input type="radio" name="filter" value="CARDIO"/>Кардио</p>
                <p><input type="radio" name="filter" value="OTHER"/>Другое</p>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit" class = "btn btn-primary" >Выбрать</button>
            </form>
            <form method="get">
                <button type="submit" class = "btn btn-light" >Отмена</button>
            </form>
        </div>
</div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2019-2020 Dmitri & Mikhail</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.5/examples/checkout/#">Privacy</a></li>
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.5/examples/checkout/#">Terms</a></li>
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.5/examples/checkout/#">Support</a></li>
    </ul>
</footer>
</body>

</html>