<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h1>Авторизируйтесь, чтобы продолжить пользоваться dietmanager</h1>
<form action="/login" method="post">
    <div><label>Email: <input type="email" name = "username"/></label></div>
    <div><label>Password <input type="password" name = "password"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit" class="btn btn-primary" value="Sign In" style="margin-top: 10px">Войти</button>
</form>
<a href="/registration">Создать аккаунт</a>
</body>
</html>